@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";
@import "colors";

$family-sans-serif: "futura-pt", sans-serif;
$family-primary: $family-sans-serif;

$primary: $brand-color;
$link: $brand-color;
$code: #b94b10;
$danger: #b92110;
$success: #10b959;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$dark: $grey-darker;
$text: $white-ter;
$background: $dark;

$navbar-height: 4.25rem;

$size-1: 3.75rem;
$size-2: 3.125rem;
$size-3: 2.5rem;
$size-4: 1.875rem;
$size-5: 1.5625rem;
$size-6: 1.25rem;
$size-7: 0.9375rem;

$radius-small: 3px;
$radius: 4px;
$radius-large: 6px;

@import "../node_modules/bulma/bulma";
